/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* local fonts */
@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url('/fonts/FranklinGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}






